<html ng-app="shopApp">
<head>
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <meta charset="UTF-8">
</head>
<body>
<h1>Welcome to CropShop</h1>
<div ng-controller="ItemListCtrl" id="products">
    <ul class="products-list">
        <li class="product" ng-repeat="product in products">
            <h1>{{product.name}}</h1>
            <p>{{product.category}}</p>
            <p>{{product.price | currency : "£" : 2 }}</p>
            [<a href ng-click="addItem($index)">Add to cart</a>]
        </li>
    </ul>
</div>

    <div ng-controller="ShopCartCtrl" id="shopping-cart">
        <table class="basket">
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
            <tr ng-repeat='item in invoice'</tr>
                <td>{{item.name}}</td>
                <td><select ng-options="stock for stock in range(1, item.stockLeft)" ng-model="item.qty" ng-required </select></td>
                <td ng-model="item.price">{{item.price | currency : "£" : 2}}</td>
                <td>{{item.price * item.qty | currency : "£" : 2 }}</td>
                <td>
                    [<a href ng-click="removeItem($index)">X</a>]
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td> Sub-total</td>
                <td>{{total() | currency : "£" : 2}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Final cost</td>
                <td>{{applyDiscount(total()) | currency : "£" : 2}}</td>
            </tr>
            <tr ng-show="invoice.length > 0">
                <td></td>
                <td>[<a href ng-click="selectDiscount('standardDiscount')">£5 off!</a>]</td>
                <td ng-show="total() > 50">[<a href ng-click="selectDiscount('overFifty')">£10 off!</a>]</td>
                <td ng-show="total() > 75 && hasFootwear()">[<a href ng-click="selectDiscount('overSeventyFive')">£15 off!</a>]</td>
            </tr>



    </div>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
</body>
</html>
